In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
import matplotlib.pyplot as plt

In [62]:
data = pd.read_csv('data.csv')

In [63]:
data

,number_people,date,timestamp,day_of_week,is_weekend,is_holiday,temperature,is_start_of_semester,is_during_semester,month,hour
0,37,2015-08-14 17:00:11-07:00,61211,4,0,0,71.76,0,0,8,17
1,45,2015-08-14 17:20:14-07:00,62414,4,0,0,71.76,0,0,8,17
2,40,2015-08-14 17:30:15-07:00,63015,4,0,0,71.76,0,0,8,17
3,44,2015-08-14 17:40:16-07:00,63616,4,0,0,71.76,0,0,8,17
4,45,2015-08-14 17:50:17-07:00,64217,4,0,0,71.76,0,0,8,17
...,...,...,...,...,...,...,...,...,...,...,...
62179,23,2017-03-18 18:42:28-07:00,67348,5,1,0,61.07,0,1,3,18
62180,21,2017-03-18 18:52:35-07:00,67955,5,1,0,61.07,0,1,3,18
62181,25,2017-03-18 19:02:40-07:00,68560,5,1,0,56.71,0,1,3,19
62182,18,2017-03-18 19:12:47-07:00,69167,5,1,0,56.71,0,1,3,19
62183,23,2017-03-18 19:22:51-07:00,69771,5,1,0,56.71,0,1,3,19

In [64]:
data.isnull().sum()
data.drop("date", axis=1, inplace=True)
data.drop("is_weekend", axis=1, inplace=True)
data.drop("hour", axis=1, inplace=True)
data.drop("is_holiday", axis=1, inplace=True)

In [65]:
data.describe()

,number_people,timestamp,day_of_week,temperature,is_start_of_semester,is_during_semester,month
count,62184.000000,62184.000000,62184.000000,62184.000000,62184.000000,62184.000000,62184.000000
mean,29.072543,45799.437958,2.982504,58.557108,0.078831,0.660218,7.439824
std,22.689026,24211.275891,1.996825,6.316396,0.269476,0.473639,3.445069
min,0.000000,0.000000,0.000000,38.140000,0.000000,0.000000,1.000000
25%,9.000000,26624.000000,1.000000,55.000000,0.000000,0.000000,5.000000
50%,28.000000,46522.500000,3.000000,58.340000,0.000000,1.000000,8.000000
75%,43.000000,66612.000000,5.000000,62.280000,0.000000,1.000000,10.000000
max,145.000000,86399.000000,6.000000,87.170000,1.000000,1.000000,12.000000

In [66]:
X_train, X_test, y_train, y_test = train_test_split(data.drop("number_people", axis=1),data['number_people']  , test_size=0.2, random_state=42)

In [67]:
X_test

,timestamp,day_of_week,temperature,is_start_of_semester,is_during_semester,month
44802,12360,1,59.50,0,1,9
51279,64756,6,62.39,0,1,11
36816,80752,6,57.67,0,0,7
2503,85213,1,72.73,1,1,9
53035,7463,5,59.61,0,1,11
...,...,...,...,...,...,...
41289,4598,3,56.33,1,1,8
17170,70212,5,57.73,0,1,2
51989,63950,4,63.72,0,1,11
43332,37785,4,59.73,0,1,9
30459,6296,2,58.33,0,0,6

In [68]:
y_train

35235    39
21476    30
24103    34
23300    41
43598    22
         ..
54343     1
38158    17
860      64
15795    50
56422     6
Name: number_people, Length: 49747, dtype: int64

In [69]:
normalization = StandardScaler()

In [70]:
normalization.fit(X_train)

StandardScaler()

In [71]:
X_train = normalization.transform(X_train)
X_test = normalization.transform(X_test)

In [72]:
X_train

array([[ 1.34976749, -0.49331804,  0.44593641, -0.29283498, -1.39644842,
        -0.12702766],
       [ 1.48071005, -1.49511797, -0.4857367 , -0.29283498,  0.71610235,
        -1.28977575],
       [ 0.29190679, -0.99421801,  1.72302574, -0.29283498,  0.71610235,
        -0.99908873],
       ...,
       [-0.50105529,  1.51028181,  0.85948519, -0.29283498, -1.39644842,
         0.16365936],
       [ 1.23319063,  1.00938184, -0.87710278,  3.4148926 ,  0.71610235,
        -1.87114979],
       [-0.97912775, -0.99421801, -1.74064333, -0.29283498,  0.71610235,
         1.32640744]])

In [44]:
SVR_model = SVR(cache_size = 2000, kernel='rbf',epsilon=5)

In [45]:
SVR_model

SVR(cache_size=2000, epsilon=5)

In [46]:
param_grid_SVR = {'C': [0.01, 0.1, 1, 10, 100], 'degree': [2,3,4,5]}

In [47]:
Grid_Search = GridSearchCV(estimator = SVR_model, param_grid = param_grid_SVR, verbose = 3)

In [48]:
Grid_Search

GridSearchCV(estimator=SVR(cache_size=2000, epsilon=5),
             param_grid={'C': [0.01, 0.1, 1, 10, 100], 'degree': [2, 3, 4, 5]},
             verbose=3)

In [49]:
Grid_Search.fit(X_train,y_train)

Fitting 5 folds for each of 20 candidates, totalling 100 fits
[CV 1/5] END ..................C=0.01, degree=2;, score=0.410 total time= 2.5min
[CV 2/5] END ..................C=0.01, degree=2;, score=0.414 total time= 2.6min
[CV 3/5] END ..................C=0.01, degree=2;, score=0.409 total time= 2.3min
[CV 4/5] END ..................C=0.01, degree=2;, score=0.402 total time= 2.3min
[CV 5/5] END ..................C=0.01, degree=2;, score=0.411 total time= 2.9min
[CV 1/5] END ..................C=0.01, degree=3;, score=0.410 total time= 3.4min
[CV 2/5] END ..................C=0.01, degree=3;, score=0.414 total time= 3.5min
[CV 3/5] END ..................C=0.01, degree=3;, score=0.409 total time= 3.5min
[CV 4/5] END ..................C=0.01, degree=3;, score=0.402 total time= 3.5min
[CV 5/5] END ..................C=0.01, degree=3;, score=0.411 total time= 3.5min
[CV 1/5] END ..................C=0.01, degree=4;, score=0.410 total time= 3.4min
[CV 2/5] END ..................C=0.01, degree=4;, score=0.414 total time= 3.5min
[CV 3/5] END ..................C=0.01, degree=4;, score=0.409 total time= 3.5min
[CV 4/5] END ..................C=0.01, degree=4;, score=0.402 total time= 3.4min
[CV 5/5] END ..................C=0.01, degree=4;, score=0.411 total time= 3.5min
[CV 1/5] END ..................C=0.01, degree=5;, score=0.410 total time= 3.4min
[CV 2/5] END ..................C=0.01, degree=5;, score=0.414 total time= 3.6min
[CV 3/5] END ..................C=0.01, degree=5;, score=0.409 total time= 3.6min
[CV 4/5] END ..................C=0.01, degree=5;, score=0.402 total time= 3.5min
[CV 5/5] END ..................C=0.01, degree=5;, score=0.411 total time= 3.6min
[CV 1/5] END ...................C=0.1, degree=2;, score=0.561 total time= 3.1min
[CV 2/5] END ...................C=0.1, degree=2;, score=0.563 total time= 3.0min
[CV 3/5] END ...................C=0.1, degree=2;, score=0.558 total time= 3.0min
[CV 4/5] END ...................C=0.1, degree=2;, score=0.557 total time= 3.0min
[CV 5/5] END ...................C=0.1, degree=2;, score=0.558 total time= 3.1min
[CV 1/5] END ...................C=0.1, degree=3;, score=0.561 total time= 3.0min
[CV 2/5] END ...................C=0.1, degree=3;, score=0.563 total time= 3.0min
[CV 3/5] END ...................C=0.1, degree=3;, score=0.558 total time= 3.0min
[CV 4/5] END ...................C=0.1, degree=3;, score=0.557 total time= 3.0min
[CV 5/5] END ...................C=0.1, degree=3;, score=0.558 total time= 3.0min
[CV 1/5] END ...................C=0.1, degree=4;, score=0.561 total time= 3.0min
[CV 2/5] END ...................C=0.1, degree=4;, score=0.563 total time= 3.0min
[CV 3/5] END ...................C=0.1, degree=4;, score=0.558 total time= 3.0min
[CV 4/5] END ...................C=0.1, degree=4;, score=0.557 total time= 3.0min
[CV 5/5] END ...................C=0.1, degree=4;, score=0.558 total time= 3.0min
[CV 1/5] END ...................C=0.1, degree=5;, score=0.561 total time= 3.0min
[CV 2/5] END ...................C=0.1, degree=5;, score=0.563 total time= 3.0min
[CV 3/5] END ...................C=0.1, degree=5;, score=0.558 total time= 3.0min
[CV 4/5] END ...................C=0.1, degree=5;, score=0.557 total time= 3.0min
[CV 5/5] END ...................C=0.1, degree=5;, score=0.558 total time= 3.0min
[CV 1/5] END .....................C=1, degree=2;, score=0.622 total time= 2.8min
[CV 2/5] END .....................C=1, degree=2;, score=0.624 total time= 2.8min
[CV 3/5] END .....................C=1, degree=2;, score=0.615 total time= 2.8min
[CV 4/5] END .....................C=1, degree=2;, score=0.622 total time= 2.8min
[CV 5/5] END .....................C=1, degree=2;, score=0.614 total time= 2.8min
[CV 1/5] END .....................C=1, degree=3;, score=0.622 total time= 2.8min
[CV 2/5] END .....................C=1, degree=3;, score=0.624 total time= 2.8min
[CV 3/5] END .....................C=1, degree=3;, score=0.615 total time= 2.8min
[CV 4/5] END .....................C=1, degree=3;, score=0.622 total time= 2.9min
[CV 5/5] END .....................C=1, degree=3;, score=0.614 total time= 2.9min
[CV 1/5] END .....................C=1, degree=4;, score=0.622 total time= 2.9min
[CV 2/5] END .....................C=1, degree=4;, score=0.624 total time= 3.0min
[CV 3/5] END .....................C=1, degree=4;, score=0.615 total time= 2.9min
[CV 4/5] END .....................C=1, degree=4;, score=0.622 total time= 2.9min
[CV 5/5] END .....................C=1, degree=4;, score=0.614 total time= 2.8min
[CV 1/5] END .....................C=1, degree=5;, score=0.622 total time= 3.0min
[CV 2/5] END .....................C=1, degree=5;, score=0.624 total time= 3.0min
[CV 3/5] END .....................C=1, degree=5;, score=0.615 total time= 2.9min
[CV 4/5] END .....................C=1, degree=5;, score=0.622 total time= 2.8min
[CV 5/5] END .....................C=1, degree=5;, score=0.614 total time= 2.9min
[CV 1/5] END ....................C=10, degree=2;, score=0.652 total time= 2.7min
[CV 2/5] END ....................C=10, degree=2;, score=0.653 total time= 2.7min
[CV 3/5] END ....................C=10, degree=2;, score=0.645 total time= 2.7min
[CV 4/5] END ....................C=10, degree=2;, score=0.653 total time= 2.7min
[CV 5/5] END ....................C=10, degree=2;, score=0.644 total time= 2.7min
[CV 1/5] END ....................C=10, degree=3;, score=0.652 total time= 2.7min
[CV 2/5] END ....................C=10, degree=3;, score=0.653 total time= 2.7min
[CV 3/5] END ....................C=10, degree=3;, score=0.645 total time= 2.7min
[CV 4/5] END ....................C=10, degree=3;, score=0.653 total time= 2.7min
[CV 5/5] END ....................C=10, degree=3;, score=0.644 total time= 2.8min
[CV 1/5] END ....................C=10, degree=4;, score=0.652 total time= 2.8min
[CV 2/5] END ....................C=10, degree=4;, score=0.653 total time= 2.9min
[CV 3/5] END ....................C=10, degree=4;, score=0.645 total time= 2.7min
[CV 4/5] END ....................C=10, degree=4;, score=0.653 total time= 2.7min
[CV 5/5] END ....................C=10, degree=4;, score=0.644 total time= 2.7min
[CV 1/5] END ....................C=10, degree=5;, score=0.652 total time= 2.8min
[CV 2/5] END ....................C=10, degree=5;, score=0.653 total time= 2.9min
[CV 3/5] END ....................C=10, degree=5;, score=0.645 total time= 2.8min
[CV 4/5] END ....................C=10, degree=5;, score=0.653 total time= 2.9min
[CV 5/5] END ....................C=10, degree=5;, score=0.644 total time= 2.8min
[CV 1/5] END ...................C=100, degree=2;, score=0.681 total time= 3.0min
[CV 2/5] END ...................C=100, degree=2;, score=0.683 total time= 3.0min
[CV 3/5] END ...................C=100, degree=2;, score=0.677 total time= 2.9min
[CV 4/5] END ...................C=100, degree=2;, score=0.682 total time= 2.9min
[CV 5/5] END ...................C=100, degree=2;, score=0.675 total time= 3.0min
[CV 1/5] END ...................C=100, degree=3;, score=0.681 total time= 2.9min
[CV 2/5] END ...................C=100, degree=3;, score=0.683 total time= 2.9min
[CV 3/5] END ...................C=100, degree=3;, score=0.677 total time= 2.9min
[CV 4/5] END ...................C=100, degree=3;, score=0.682 total time= 2.9min
[CV 5/5] END ...................C=100, degree=3;, score=0.675 total time= 2.9min
[CV 1/5] END ...................C=100, degree=4;, score=0.681 total time= 2.8min
[CV 2/5] END ...................C=100, degree=4;, score=0.683 total time= 2.9min
[CV 3/5] END ...................C=100, degree=4;, score=0.677 total time= 2.8min
[CV 4/5] END ...................C=100, degree=4;, score=0.682 total time= 2.9min
[CV 5/5] END ...................C=100, degree=4;, score=0.675 total time= 2.9min
[CV 1/5] END ...................C=100, degree=5;, score=0.681 total time= 3.0min
[CV 2/5] END ...................C=100, degree=5;, score=0.683 total time= 3.0min
[CV 3/5] END ...................C=100, degree=5;, score=0.677 total time= 2.9min
[CV 4/5] END ...................C=100, degree=5;, score=0.682 total time= 2.8min
[CV 5/5] END ...................C=100, degree=5;, score=0.675 total time= 2.9min

GridSearchCV(estimator=SVR(cache_size=2000, epsilon=5),
             param_grid={'C': [0.01, 0.1, 1, 10, 100], 'degree': [2, 3, 4, 5]},
             verbose=3)

In [50]:
Grid_Search.best_params_

{'C': 100, 'degree': 2}

In [73]:
SVR_model = SVR(cache_size = 2000, kernel='rbf', C=100, degree = 2, verbose = True, epsilon = 0.1)

In [74]:
SVR_model

SVR(C=100, cache_size=2000, degree=2, verbose=True)

In [75]:
SVR_model.fit(X_train,y_train)

[LibSVM]

SVR(C=100, cache_size=2000, degree=2, verbose=True)

In [76]:
SVR_model.score(X_test,y_test)

0.6929163129283933